@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    margin-top: 60PX;
}
.td-app-container{
    display: block;
    justify-content: center;
    align-items: center;
}
.td-main-layout{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-between;
}
.td-center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-left-panel{
    position: fixed;
    background: rgb(45, 206, 85);
}
.td-right-panel{
    flex: 0 0 330px;
    background: rgb(48, 20, 177);
}
.td-main-panel{
    flex: 1 1 auto;
    background: #ECEEF0;
}

.td-canvas-wrapper{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.td-header{
    position: fixed;
    top:0px;
    width: 100%;
    background: white;
    height: 60px;
    border-bottom: 1px solid lightgrey;
}

.td-wrapper-conatiner{
    display: flex;
    padding: 0px 10px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}